body {
    margin: 0 auto;
    max-width: 115em; // 85em
    padding-bottom: 20px;
    background-color: $body-bg;
    color: #fff;
}
.tox-tinymce {border: 1px solid transparent !important;}
img {
    max-width: 100% !important;
}

svg.icon {
    width: 1rem;
    height: 1rem;
}

.header {
    border-bottom: solid 1px #23272A;
    svg.logo {
        height: 2.7rem;
    }
}

.sidebar ul {
    background: #23272A;
    border-radius: 4px 0 0 4px;
    padding: 8px 0 !important;
    .active {
        border-right: 2px solid #05d780 !important;
    }
    a:not(.active) {
        &:hover {
            border-right: 2px solid #05d780 !important;
        }
    }
}

.avatar-logo {
    height: 2.4em;
    margin-right: 0.4em;
    border-radius: 25px;
}

svg {
    .cls-1 {
        fill: #FFF;
        &:hover {
            fill: #00e091;
        }
    }

    .cls-2 {
        fill: #00e091;
        &:hover {
            fill: #FFF;
        }
    }

}

.dropdown {
    background: #23272A;
    padding: 0.85em 20px !important;
    border-radius: 0.25em !important;
    .dropdown-menu {
        background: #23272A !important;
        .dropdown-item {
            background: #23272A !important;
            border-left: 2px solid #23272A !important;
            &:active {
                border-left: 2px solid #05d780 !important;
            }
            &:hover {
                border-left: 2px solid #05d780 !important;
            }
        }
        &.show {
            margin: 1em -1.3em !important;
            min-width: 100% !important;
        }
    }
    &:hover {
        .dropdown-menu {
            display: block;
            min-width: 100%;
        }
    }
}

.sidebar .nav-item {
    a {
        color: $sidebar-nav-color;
        background-color: transparent !important;
        padding-top: 8px !important;

        i {
            width: 1rem;
            height: 1rem;
            margin-right: 15px;
            fill: $sidebar-icon-color;
        }

        &.active {
            color: $primary;

            svg {
                fill: $primary;
            }
        }
    }
}

.card {
    box-shadow: 0 2px 10px $card-shadow-color;
    border: none;

    .bottom-radius {
        border-bottom-left-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
    }

    .card-header {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        background-color: $card-cap-bg;
        border-bottom: none;

        .btn-group {
            .btn {
                padding: 0.2rem 0.5rem;
            }
        }

        h5 {
            margin: 0;
        }
    }
}

.fill-text-color {
    fill: $body-color;
}

.fill-danger {
    fill: $danger;
}

.fill-warning {
    fill: $warning;
}

.fill-info {
    fill: $info;
}

.fill-success {
    fill: $success;
}

.fill-primary {
    fill: $primary;
}

.btn-outline-primary.active {
    .fill-primary {
        fill: $body-bg;
    }
}
