//Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$font-family-base: Nunito;

$font-size-base: 0.95rem;
$badge-font-size: 0.95rem;

$primary: #7746ec;
$secondary: #dae1e7;
$success: #51d88a;
$info: #bcdefa;
$warning: #ffa260;
$danger: #ef5753;

$body-bg: #ebebeb;

$btn-focus-width: 0;

$sidebar-nav-color: #2a5164;
$sidebar-icon-color: #c3cbd3;

$pill-link-active: $primary;

$header-border-color: #d5dfe9;

$card-cap-bg: #fff;
$card-bg-secondary: #fafafa;
$card-shadow-color: #cdd8df;
